* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
#search-page {
  height: 100%;
  background-image: url("image/background-food.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#search-page nav button {
  float: left;
  margin-left: -2%;
}
#search-page > div {
  background-color: rgba(28, 28, 28, 0.6);
  height: 100%;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  text-align: center;
}
#search-page > div h3 {
  margin: 30px;
}
#search-page > div p {
  font-size: 15px;
}
#search-page > div div input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 50%;
}
#search-page > div #find-restaurant {
  margin-top: 20%;
}
#fullmenu-page {
  font-family: "HelveticaNeue-Light", Arial;
  top: 0px;
  height: 100%;
  background: white;
}
#fullmenu-page .scroll-part-x {
  overflow-x: scroll;
  overflow-y: hidden;
}
#fullmenu-page ul {
  list-style: none;
  margin: 0px;
}
#fullmenu-page header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #bdbdbd;
  background: #eeeeee;
}
#fullmenu-page header li {
  width: 33%;
  display: inline;
  text-align: center;
  float: left;
}
#fullmenu-page .hide-down {
  padding-left: 10px;
  text-align: left;
  color: #01DFA5;
  font-size: 26px;
}
#fullmenu-page .menu-category {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  height: 50px;
}
#fullmenu-page .menu-category li {
  width: 50%;
  height: 50px;
  display: inline;
  text-align: center;
  float: left;
}
#fullmenu-page .menu-detail .food-lists {
  border-bottom: 1px solid #bdbdbd;
  diplay: block;
  height: 85px;
}
#fullmenu-page .menu-detail .food-lists li {
  display: inline-block;
  float: left;
}
#fullmenu-page .menu-detail .food-lists li p {
  font-size: 14px;
}
#fullmenu-page .menu-detail .food-lists li:nth-child(2) {
  margin-top: 20px;
}
#fullmenu-page .menu-detail .food-lists li:nth-child(3) {
  float: right;
  padding-right: 15px;
}
#fullmenu-page .menu-detail .food-lists li:nth-child(3) p {
  text-align: right;
}
#fullmenu-page .menu-detail .food-lists .foodname {
  word-break: keep-all;
}
#fullmenu-page .menu-detail img {
  float: left;
  width: 50px;
  height: 50px;
  margin: 10px;
}
#fullmenu-page .menu-detail .blank-area {
  height: 70px;
}
#fullmenu-page footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #04B486;
  color: white;
}
